body {
    background-image: url("../img/cubes.png");
    background-size: contain;
}

#results {
    display: none;
}

input, label {
    line-height: 1em;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 2rem;
}

#anchor {
    display: block;
    padding-top: 15px;
}